<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans   http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 流程引擎配置 -->
	<bean id="processEngineConfiguration" class="org.activiti.spring.SpringProcessEngineConfiguration">
		<!-- 以下两个属性解决流程图中文乱码 -->  
	    <property name="activityFontName" value="宋体"></property>  
	    <property name="labelFontName" value="宋体"></property>
		<!-- 使用系统默认的数据源配置 -->
		<property name="dataSource" ref="dataSource" />
		<!-- 使用系统统一的事物管理 -->
		<property name="transactionManager" ref="transactionManager" />
		<!-- 声明数据库版本 -->
		<property name="databaseType" value="mysql"></property>
		<!-- 是否动态检查生成activiti相关的表 -->
		<property name="databaseSchemaUpdate" value="true" />
	</bean>
	
	<!-- 事物管理器 -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<!-- 单例json对象 -->
    <bean id="objectMapper" class="com.fasterxml.jackson.databind.ObjectMapper"/>
    
    <!-- 引擎内部提供的UUID生成器，依赖fastxml的java-uuid-generator模块 -->
    <bean id="uuidGenerator" class="org.activiti.engine.impl.persistence.StrongUuidGenerator" />
	
 	<!-- 流程引擎 -->
	<bean id="processEngine" class="org.activiti.spring.ProcessEngineFactoryBean">
		<property name="processEngineConfiguration" ref="processEngineConfiguration" />
	</bean>
 
 	<!-- activiti工作流相关的七大服务 -->
	<bean id="repositoryService" factory-bean="processEngine"
		factory-method="getRepositoryService" />
		
	<bean id="runtimeService" factory-bean="processEngine"
		factory-method="getRuntimeService" />
	
	<bean id="formService" factory-bean="processEngine" 
		factory-method="getFormService"/>
		
	<bean id="taskService" factory-bean="processEngine"
		factory-method="getTaskService" />
		
	<bean id="historyService" factory-bean="processEngine"
		factory-method="getHistoryService" />
		
	<bean id="managementService" factory-bean="processEngine"
		factory-method="getManagementService" />
		
	<bean id="identityService" factory-bean="processEngine"
		factory-method="getIdentityService" />
 
</beans>